/* DEVELOPMENT ONLY */
#compwrap {
  background: #fff;
}

/* GENERAL TAG STYLING */
body {
  background: url(../images/bk-dark.png);
}
.lens_flare {
  display: none;
}


/* ACCESSIBILITY */
.offscreen { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}

/* NON-BOX-MODEL LAYOUT */
.absolute-width, 
.absolute-width:before, 
.absolute-width:after,
#footer-main-region,
#footer-main-region:before,
#footer-main-region:after,
#footer-sidebar-region,
#footer-sidebar-region:before,
#footer-sidebar-region:after,
#footer-primary-menu ul li,
#footer-primary-menu ul li:before,
#footer-primary-menu ul li:after,
#installers-block a.btn-blue,
#installers-block a.btn-blue:before,
#installers-block a.btn-blue:after,
ul.details-header li,
ul.details-header li:before,
ul.details-header li:after,
#site-search,
#site-search:before,
#site-search:after,
#header a.logo,
#header a.logo:before,
#header a.logo:after { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

/* FLOAT CONTAINMENT */
.contain-floats:before, 
.contain-floats:after,
#footer-primary-menu:before,
#footer-primary-menu:after,
#installers-block:before,
#installers-block:after,
ul.details-header:before,
ul.details-header:after { 
  content: ""; 
  display: table; 
}
.contain-floats:after,
#footer-primary-menu:after,
#installers-block:after,
ul.details-header:after { 
  clear: both; 
}
.contain-floats,
#footer-primary-menu,
#installers-block,
ul.details-header { 
  zoom: 1; 
}

/* FOOTER REGION */
#footer-outer {
  padding-right:278px;
}
#footer {
  background: #eeeeee;
  font-size: 0.88em;
  margin: 0 30px;
  max-width:1280px !important;
}
#footer a {
  color:#1b96ba;
}
#footer-main-region {
  width: 63%;
  float: left;
  padding: 23px;
}
#footer-primary-menu {
  padding-bottom: 6px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom:23px;
}
#footer-primary-menu ul li {
  width: 25%;
  float: left;
  padding-right: 16px;
}
#footer-primary-menu ul li a {
  text-transform: uppercase;
  color: #4d4d4d;
  display: block;
  padding-bottom: 15px;
}
#footer-primary-menu ul ul li {
  width: auto;
  float: none;
  padding-right: 0;
}
#footer-primary-menu ul ul li a {
  color:#1b96ba;
  text-transform: none;
}
#footer-secondary-menu,
#footer-secondary-menu ul {
  display: inline;
}
#footer-secondary-menu ul li {
  display:inline;
  padding-right: 6px;
  font-size: 0.86em;
}
#footer-copyright {
  display: inline;
  padding-right: 10px;
}
#footer-social h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  border-bottom-width: 0px;
  line-height: 2.2em;
  float: left;
  padding-right: 14px;
}
#footer-social .icons {
  display: inline;
  line-height: 2.2em;
  float: left;
}
#footer-social .icons a {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 10px;
}
#footer-social .icons #fb {
  background: url(../images/social-sprite.png) 0 0 no-repeat;
}
#footer-social .icons #tw {
  background: url(../images/social-sprite.png) -36px 0;
}
#footer-social .icons #yt {
  background: url(../images/social-sprite.png) -72px 0 no-repeat;
}
#footer-social .icons #in {
  background: url(../images/social-sprite.png) -108px 0;
}
#footer-copyright {
  font-size: 0.86em;
}
#footer-sidebar-region {
  width: 37%;
  float: left;
  background: url(../images/footer-shadow.png) 0px bottom no-repeat;
  padding: 20px 32px 52px;
  height: inherit;
}
#installers-block {
  padding-bottom: 30px;
}
#installers-block h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.29em;
  border-bottom-width: 0px;
  line-height: 1.2em;
  padding-right: 14px;
  padding-bottom: 12px;
}
#installers-block a.btn-blue {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.29em;
  padding: 8px 20px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 16px;
  margin-bottom:10px;
  text-decoration: none;
  background: #1a8fb4 url(../images/grad-btn.png) 0 0 repeat-x;
  /*CSS3*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}
#installers-block a:hover.btn-blue {
  background: #116e8d url(../images/grad-btn.png) 0 -100px repeat-x;
}





/* LAYOUT */
/* NOTE: left and right declarations are "reversed" in order to keep existing site HTML markup and match new design. */
#container {
  padding: 0;
  max-width:100% !important;
  width: auto;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
#content-outer {
  background: url(../images/shaded-rule.png) repeat-x 0 -19px;
  padding-top:16px;
  padding-right:278px;
}
#content,
body.search #content {
  padding:38px;
  max-width:1204px !important;
  width: auto;
  margin: 0 30px;
}
#content {
  background:#fff;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 2px 6px #000;
  -moz-box-shadow: 0px 2px 6px #000;
  box-shadow: 0px 2px 6px #000;
}
#content #left-column {
  float:right;
  padding: 0px;;
  width: 30%;
}
#content #right-column {
  float:left;
  width: 65%;
}



/* SIDEBAR */
.ratings-container {
  width: auto;
}
.ratings-container .rating-container .rating-label:after {
  left: 50%;
  margin-left:-15px;
}
#social-links {
  margin-left:-25px;
  text-transform:uppercase;
  font-weight:normal;
}



/* MAIN CONTENT REGION */
#right-column .intro-p {
  font-size: 1.13em;
  color: #393e3e;
  line-height: 1.2em;
  padding-bottom: 20px;
}
#right-column h1 {
  line-height:0.7em;
}

/* INTRO TABS */
#right-column #intro-tabs-tabs {
  overflow: hidden;
  margin-bottom: 20px;
}
#right-column #intro-tabs-tabs ul li {
  float: left;
}
#right-column #intro-tabs-tabs ul li a {
  padding: 11px 16px;
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: url(../images/tab-rule-shadow.png) 0 center no-repeat;
  text-decoration: none;
}
#right-column #intro-tabs-tabs ul li:first-child a {
  padding-left:0px;
  background: transparent;
}
#right-column #intro-tabs-tabs ul li.current a {
  color: #4d4d4d;
}
#intro-tabs .tab,
#site-details .detail-data {
  display: none;
  overflow: hidden;
  color: #393e3e;
  padding-bottom: 16px;
}
#intro-tabs .current,
#site-details .current {
  display: block;
}
#intro-tabs .tab .tab-image {
  float: left;
  margin: 0px 28px 28px 0px;
}
#intro-tabs .tab h2 {
  color: #797979;
  font-size: 1.19em;
  line-height: 1.2em;
}
#intro-tabs .tab p {
  line-height: 1.4em;
  font-size: 0.81em;
  padding-bottom: 28px;
}


/* DETAILS TABS */
ul.details-header {
  background: #e9e9e9;
  border: 1px solid #d6d6d6;
  padding:6px 0px;
  overflow: visible;
  margin-bottom: 20px;
  /* CSS3 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
ul.details-header li {
  background: url(../images/tab-rule-shadow2.png) 0 0 no-repeat;
  padding: 0px 6px;
  margin: 0;
  height: auto;
  width:33%;
  position: relative;
}
ul.details-header li:first-child {
  background: transparent;
}
ul.details-header li.savings span,
ul.details-header li.energy span,
ul.details-header li.benefits span {
  background: transparent;
  color: #9a9e9e;
  text-transform: uppercase;
  padding: 10px;
  height: auto;
  font-size: 1.13em;
  font-weight: normal;
  /* CSS3 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
ul.details-header li.savings.current span,
ul.details-header li.energy.current span,
ul.details-header li.benefits.current span {
  background: #64bd26 url(../images/green-tab-fade.png) 0 center repeat-x;
  color: #fff;
}
ul.details-header li .arrow {
  border-color:#64bd26 transparent transparent transparent;
  border-width:12px;
  position: absolute;
  left: 50%;
  margin-left: -13px;
}
.detail-data h3 {
  border-bottom-width: 0;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1.2em;
}
dl.details {
  margin-bottom:40px;
}
dl.details dd {
  color: #febb05;
}
dl.details dd.lifetime {
  font-size: 4em;
  line-height:1em;
}
dl.details dd.annual {
  font-size: 4em;
  line-height:1em;
}
.detail-data .display-financed-savings {
  margin: 0;
  overflow: hidden;
  border-top:1px solid #d6d6d6;
  border-bottom:1px solid #d6d6d6;
  padding: 14px 0px 14px 50px;
  font-size: 1.25em;
  line-height: 1.4em;
  color: #898989;
  min-height:36px;
  height:auto;
  position: relative;
}
.detail-data .display-financed-savings .expand-circle {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.29em;
  padding: 8px;
  display: block;
  text-align: center;
  background: #1a8fb4 url(../images/grad-btn.png) 0 0 repeat-x;
  /*CSS3*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}

/* HEADER - SEARCH */
#header-outer {
	background: url(../images/bk.png);
}
#header {
	position: relative;
	padding: 10px 310px 10px 310px;
	height: 59px;
	max-width:998px;
	background: url(../images/shaded-rule.png) repeat-x 0 60px;
	margin: 0;
}
#header a.logo {
  background: transparent;
  width: 267px;
  height: 59px;
  position: absolute;
  top: 10px;
  left: 30px;
}
#header a.logo img {
  width:100%;
  height:auto;
}
#site-search {
	background: none;
	width:100%;
	padding:8px 8px;
	/* CSS3 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#site-search.active,
#site-search.remain-active {
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px #333;
  -moz-box-shadow: 0px 0px 6px #333;
  box-shadow: 0px 0px 6px #333;

}
#site-search-field {
	background: transparent url(../images/bg_search.jpg) 0 -1px no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height:43px;
  text-align: left;
  padding-left:50px;
  -webkit-box-shadow: 0px 1px 2px #606060;
  -moz-box-shadow: 0px 1px 2px #606060;
  box-shadow: 0px 1px 2px #606060;
}
#site-search.active #site-search-field,
#site-search.remain-active #site-search-field {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#site-search-field .site-search-inner {
  background: transparent url(../images/search-icon.png) no-repeat right center;
  padding-right:60px;
}
#site-search-field input {
  border:none;
  color:#d0d4d4;
  padding:12px 0 12px 0;
  font-size:0.81em;
  width: 100%;
  background: transparent;
}
#site-search.active #site-search-field input,
#site-search.remain-active #site-search-field input {
  background: none;
}
#site-search-field input:focus {
	outline:none;
}
#site-search.active #site-search-field,
#site-search.remain-active #site-search-field {
	background: transparent url(../images/bg_search.jpg) 0 -45px no-repeat;
}
#site-search-results {
	display:none;
	text-align: left;
	margin-top:8px;
	color: #393e3e;
	font-size: 0.88em;
	line-height: 1.2em;
	padding: 14px 0px 6px 16px;
	background: url(../images/location-shaded-rule.png) no-repeat center 0;
}
.active #site-search-results,
.remain-active #site-search-results {
	display:block;
}
#site-search-results .result {
	position:relative;
	padding-right:140px;
}
#site-search-results a.result-btn {
  background: #e4e4e4;
  border: 1px solid #b8b8b8;
  display: block;
  font-size: 0.93em;
  color: #393e3e;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top:-4px;
  position: absolute;
  top: 0;
  right: 0;
  width:110px;
} 
#user-block {
  background: url(../images/left-header-shadow.png) no-repeat 0 0;
  width: 130px;
  padding: 17px 20px;
  text-align: left;
  float: left;
  position: absolute;
  top:0;
  right:82px;
  padding-left:76px;
  color: #cbcbcb;
  height: 45px;
}
#header .user-session {
  text-align: left;
  padding: 6px 0px 0px;
}
#header .user-session li a {
  padding: 0;
  text-transform: none;
  font-weight: normal;
  color: #cbcbcb;
  font-size: 0.81em;
  display:block;
  padding:6px 10px;
  background: url(../images/trans-gray.png);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#header .user-session li a:hover {
  background: #1ea8c8;
  color: #fff;
}
#user-block img {
  position:absolute;
  top:18px;
  left:20px;
}
#header #navigation-menu {
  float: left;
  top: 0px;
  display: block;
  background: url(../images/left-header-shadow.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
#header #navigation-menu a.dropdown-toggle {
  width: 44px;
  padding: 17px 20px;
  height:45px;
  display: block;
  background: url(../images/menu-icon.png) no-repeat 2px center;
}
#header #navigation-menu a.dropdown-toggle i {
  display:none;
}
#header #navigation-menu.active a.dropdown-toggle {
  background: url(../images/menu-icon.png) no-repeat -140px center;
}
#header #navigation-menu.active .dropdown-menu {
  display:block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width:0px;
  width:243px;
  padding:10px 20px;
  background: #fff url(../images/menu-tick.png) 234px 0 no-repeat;
  margin-top:0px;
}
#header #navigation-menu ul.dropdown-menu li a {
  text-align: left;
  display:block;
  background: url(../images/nav-menu-link.png) center 10px no-repeat;
  color: #14a9c5;
  font-size: 1.25em;
  height: 42px;
  padding-right:40px;
}
#header #navigation-menu ul.dropdown-menu li a:hover {
  background: #2eb2cb url(../images/nav-menu-link.png) center 10px no-repeat;
  color: #fff;
  padding-left: 16px;
}

#header #navigation-menu ul.dropdown-menu li:last-child a {
  height:39px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  #content-outer,
  #footer-outer {
    padding-right:0px;
  }
}
@media screen and (max-width: 940px) {
  #footer-main-region,
  #footer-sidebar-region {
    float:none;
    width: auto;
  }
  #footer-sidebar-region {
    border-top:1px solid #d6d6d6;
  }
  #header {
    padding-right:84px;
  }
  #user-block {
    display:none;
  }
}
@media screen and (max-width: 768px) {
  #content #left-column,
  #content #right-column {
    float:none;
    width: auto;
    padding-left: 0;
    padding-bottom:30px;
  }
  #header {
    padding-left:30px;
    height:127px;
    padding-right:12px;
  }
  #header a.logo {
    display:block;
    float: none;
    position:relative;
    top:0;
    left:0;
  }
  #site-search {
    position: static;
    display:block;
    left:0px;
    margin: 16px -8px 10px;
  }
  #footer-primary-menu ul li {
    margin-bottom:20px;
    width:50%;
  }
  #footer-primary-menu ul ul li {
    margin-bottom: 0;
  }
  .ratings-container {
    padding:0px 10%;
    width:80%;
  }
}
@media screen and (max-width: 500px) {
  
  .ratings-container .rating-container {
    height: 280px;
  }
  #intro-tabs .tab .tab-image {
    float: none;
    margin-right:0px;
  }
  #intro-tabs .tab .tab-image img {
    width: 100%;
    height: auto;
  }
  ul.details-header li {
    float:none;
    width: auto;
    background: transparent;
    padding: 6px 6px;
    border-top:1px solid #d6d6d6;
  }
  ul.details-header li:first-child {
    border-top-width: 0;
    padding-top: 0;
  }
  ul.details-header li:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  ul.details-header li.current .arrow {
    display: none;
  }
  .ratings-container {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  #header {
    padding-left: 20px;
    padding-right: 2px;
    background: url(../images/shaded-rule.png) repeat-x 0 48px;
    height:117px;
  }
  #header a.logo,
  #header a.logo img {
    width:198px;
    height:44px;
    padding-right:42px;
  }
  #navigation-menu a.dropdown-toggle {
    height:32px;
    padding:17px 14px;
    background: url(../images/menu-icon.png) no-repeat -1px center;
  }
  #navigation-menu.active a.dropdown-toggle {
    background: url(../images/menu-icon.png) no-repeat -143px center;
  }
  #navigation-menu.active .dropdown-menu {
    background: #fff url(../images/menu-tick.png) 240px 0 no-repeat;
  }
  #content-outer {
    padding-top:0px;
  }
  #content, 
  body.search #content {
    padding:28px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0;
  }
  #footer {
    margin: 0; 
  }
  #footer-primary-menu ul li {
    float:none;
    width: auto;
    margin-bottom:20px;
  }
  #footer-secondary-menu {
    display: block;
    margin-top: 6px;
  }
  #right-column #intro-tabs-tabs ul li a {
    padding-left:0px;
    background: transparent;
  }
}