/* DEVELOPMENT ONLY */
#compwrap {
  background: #fff;
}
#viewport-details-box {
  background: #000;
  color:#888;
  font-size: 0.69em;
  width: 100%;
  padding:6px;
  font-family: Arial, Helvetica, sans-serif;
}
#viewport-details-box p {
  display: block;
  padding-right:20px;
  padding-bottom:2px;
}
#viewport-details-box p.viewport-details {
  font-weight:bold;
}

/* GENERAL TAG STYLING */
body {
  background: url(../images/bk-dark.png);
}
.lens_flare {
  display: none;
}


/* ACCESSIBILITY */
.offscreen { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}

/* NON-BOX-MODEL LAYOUT */
.absolute-width, 
.absolute-width:before, 
.absolute-width:after,
#footer-main-region,
#footer-main-region:before,
#footer-main-region:after,
#footer-sidebar-region,
#footer-sidebar-region:before,
#footer-sidebar-region:after,
#footer-primary-menu ul li,
#footer-primary-menu ul li:before,
#footer-primary-menu ul li:after,
#installers-block a.btn-blue,
#installers-block a.btn-blue:before,
#installers-block a.btn-blue:after,
ul.details-header li,
ul.details-header li:before,
ul.details-header li:after,
#site-search,
#site-search:before,
#site-search:after,
#header a.logo,
#header a.logo:before,
#header a.logo:after { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

/* FLOAT CONTAINMENT */
.contain-floats:before, 
.contain-floats:after,
#footer-primary-menu:before,
#footer-primary-menu:after,
#installers-block:before,
#installers-block:after,
ul.details-header:before,
ul.details-header:after,
#content-outer:before,
#content-outer:after,
.columns:after,
.columns:before,
.fieldcolumns:before,
.fieldcolumns:after { 
  content: ""; 
  display: table; 
}
.contain-floats:after,
#footer-primary-menu:after,
#installers-block:after,
ul.details-header:after,
#content-outer:before,
#content-outer:after,
.columns:before,
.columns:after,
.fieldcolumns:before,
.fieldcolumns:after { 
  clear: both; 
}
.contain-floats,
#footer-primary-menu,
#installers-block,
ul.details-header,
#content-outer,
.fieldcolumns,
.columns { 
  zoom: 1; 
}

/* FOOTER REGION */
#footer-outer {
  padding-right:278px;
  position:relative;
  z-index:100;
}
#footer {
  background: #eeeeee;
  font-size: 0.88em;
  margin: 0 30px;
  max-width:1280px !important;
}
#footer a {
  color:#1b96ba;
}
#footer-main-region {
  width: 63%;
  float: left;
  padding: 23px;
}
#footer-primary-menu {
  padding-bottom: 6px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom:23px;
}
#footer-primary-menu ul li {
  width: 25%;
  float: left;
  padding-right: 16px;
}
#footer-primary-menu ul li a {
  text-transform: uppercase;
  color: #4d4d4d;
  display: block;
  padding-bottom: 15px;
}
#footer-primary-menu ul ul li {
  width: auto;
  float: none;
  padding-right: 0;
}
#footer-primary-menu ul ul li a {
  color:#1b96ba;
  text-transform: none;
}
#footer-secondary-menu,
#footer-secondary-menu ul {
  display: inline;
}
#footer-secondary-menu ul li {
  display:inline;
  padding-right: 6px;
  font-size: 0.86em;
}
#footer-copyright {
  display: inline;
  padding-right: 10px;
}
#footer-social h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  border-bottom-width: 0px;
  line-height: 2.2em;
  float: left;
  padding-right: 14px;
}
#footer-social .icons {
  display: inline;
  line-height: 2.2em;
  float: left;
}
#footer-social .icons a {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 10px;
}
#footer-social .icons #fb {
  background: url(../images/social-sprite.png) 0 0 no-repeat;
}
#footer-social .icons #tw {
  background: url(../images/social-sprite.png) -36px 0;
}
#footer-social .icons #yt {
  background: url(../images/social-sprite.png) -72px 0 no-repeat;
}
#footer-social .icons #in {
  background: url(../images/social-sprite.png) -108px 0;
}
#footer-copyright {
  font-size: 0.86em;
}
#footer-sidebar-region {
  width: 37%;
  float: left;
  background: url(../images/footer-shadow.png) 0px bottom no-repeat;
  padding: 20px 32px 52px;
  height: inherit;
}
#installers-block {
  padding-bottom: 30px;
}
#installers-block h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.29em;
  border-bottom-width: 0px;
  line-height: 1.2em;
  padding-right: 14px;
  padding-bottom: 12px;
}
#installers-block a.btn-blue {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.29em;
  padding: 8px 20px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 16px;
  margin-bottom:10px;
  text-decoration: none;
  background: #1a8fb4 url(../images/grad-btn.png) 0 0 repeat-x;
  /*CSS3*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}
#installers-block a:hover.btn-blue {
  background: #116e8d url(../images/grad-btn.png) 0 -100px repeat-x;
}





/* LAYOUT */
/* NOTE: left and right declarations are "reversed" in order to keep existing site HTML markup and match new design. */
#container {
  padding: 0;
  max-width:100% !important;
  width: auto;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
#content-outer {
  background: url(../images/shaded-rule.png) repeat-x 0 -19px;
  padding-top:16px;
  padding-right:278px;
  position: relative;
  max-width:1340px !important;
}
#content,
body.search #content {
  padding:38px;
  max-width:1204px !important;
  width: auto;
  margin: 0 30px;
  position:relative;
  z-index:90;
}
#content {
  background:#fff;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 2px 10px #666;
  -moz-box-shadow: 0px 2px 10px #666;
  box-shadow: 0px 2px 10px #666;
}
#content #left-column {
  float:right;
  padding: 0px;;
  width: 30%;
}
#content #right-column {
  float:left;
  width: 65%;
}
#container a {
  color: #1295ae;
}



/* SIDEBAR */
.ratings-container {
  width: auto;
}
.ratings-container .rating-container .rating-label:after {
  left: 50%;
  margin-left:-15px;
}
#social-links {
  margin-left:-25px;
  text-transform:uppercase;
  font-weight:normal;
}



/* MAIN CONTENT REGION */
#right-column .intro-p {
  font-size: 1.13em;
  color: #393e3e;
  line-height: 1.2em;
  padding-bottom: 20px;
}
#right-column h1 {
  line-height:0.7em;
}

/* INTRO TABS */
#right-column #intro-tabs-tabs {
  overflow: hidden;
  margin-bottom: 20px;
}
#right-column #intro-tabs-tabs ul li {
  float: left;
}
#right-column #intro-tabs-tabs ul li a {
  padding: 11px 16px;
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: url(../images/tab-rule-shadow.png) 0 center no-repeat;
  text-decoration: none;
}
#right-column #intro-tabs-tabs ul li:first-child a {
  padding-left:0px;
  background: transparent;
}
#right-column #intro-tabs-tabs ul li.current a {
  color: #4d4d4d;
}
#intro-tabs .tab,
#site-details .detail-data {
  display: none;
  overflow: hidden;
  color: #393e3e;
  padding-bottom: 16px;
}
#intro-tabs .current,
#site-details .current {
  display: block;
}
#intro-tabs .tab .tab-image {
  float: left;
  margin: 0px 28px 28px 0px;
}
#intro-tabs .tab h2 {
  color: #797979;
  font-size: 1.19em;
  line-height: 1.2em;
}
#intro-tabs .tab p {
  line-height: 1.4em;
  font-size: 0.81em;
  padding-bottom: 28px;
}


/* DETAILS TABS */
ul.details-header {
  background: #e9e9e9;
  border: 1px solid #d6d6d6;
  padding:6px 0px;
  overflow: visible;
  margin-bottom: 20px;
  /* CSS3 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
ul.details-header li {
  background: url(../images/tab-rule-shadow2.png) 0 0 no-repeat;
  padding: 0px 6px;
  margin: 0;
  height: auto;
  width:33%;
  position: relative;
}
ul.details-header li:first-child {
  background: transparent;
}
ul.details-header li.savings span,
ul.details-header li.energy span,
ul.details-header li.benefits span {
  background: transparent;
  color: #9a9e9e;
  text-transform: uppercase;
  padding: 10px;
  height: auto;
  font-size: 1.13em;
  font-weight: normal;
  /* CSS3 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
ul.details-header li.savings.current span,
ul.details-header li.energy.current span,
ul.details-header li.benefits.current span {
  background: #64bd26 url(../images/green-tab-fade.png) 0 center repeat-x;
  color: #fff;
}
ul.details-header li .arrow {
  border-color:#64bd26 transparent transparent transparent;
  border-width:12px;
  position: absolute;
  left: 50%;
  margin-left: -13px;
}
.detail-data h3 {
  border-bottom-width: 0;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1.2em;
}
dl.details {
  margin-bottom:40px;
}
dl.details dd {
  color: #febb05;
}
dl.details dd.lifetime {
  font-size: 4em;
  line-height:1em;
}
dl.details dd.annual {
  font-size: 4em;
  line-height:1em;
}
.detail-data .display-financed-savings {
  margin: 0;
  overflow: hidden;
  border-top:1px solid #d6d6d6;
  border-bottom:1px solid #d6d6d6;
  padding: 14px 0px 14px 50px;
  font-size: 1.25em;
  line-height: 1.4em;
  color: #898989;
  min-height:36px;
  height:auto;
  position: relative;
}
.detail-data .display-financed-savings .expand-circle {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.29em;
  padding: 8px;
  display: block;
  text-align: center;
  background: #1a8fb4 url(../images/grad-btn.png) 0 0 repeat-x;
  /*CSS3*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}

#outsidebar {
  position: absolute;
  top: 16px;
  right: 22px;
  width: 286px;
}
#outsidebar .button-container {
  padding:10px 25px;
}
#outsidebar .button-container a {
  background: url(../images/dark-btn-arrow.png) no-repeat right 0;
  display: block;
  padding: 11px 16px;
  -webkit-box-shadow: 0px 0px 3px #555;
  -moz-box-shadow: 0px 0px 3px #555;
  box-shadow: 0px 0px 3px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:12px;
  width: auto;
  color: #ddd;
  text-decoration: none;
  height: 17px;
}
#outsidebar .button-container a:hover {
  background: url(../images/dark-btn-arrow.png) no-repeat right -39px;
  color: #fff;
}
#outsidebar .site-map {
  background: #fff;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width:286px;
}
#outsidebar .address-container {
  background: #f1f2f2;
  padding:16px 28px;
  font-size: 0.94em;
  line-height: 1.2em;
  color: #393e3e;
}
#outsidebar .address-container h4 {
  margin:0;
  margin-bottom:8px;
  font-weight: normal;
  font-size: 0.81em;
  letter-spacing: 1px;
}
#outsidebar .map-container {
  padding:28px;
}
#outsidebar .map {
  width:auto;
  height:auto;
}
#outsidebar .raster-buttons {
  float:left;
  background: transparent url(../images/dark-btn-arrow.png) 0 -78px;
  padding:6px 10px 6px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#outsidebar .raster-buttons button {
  background-color:transparent;
  font-size: 0.88em;
  text-align: right;
  width: 56px;
  text-decoration: none;
}
#outsidebar .gradient-container {
  left: 0;
  top: 0;
  margin-bottom:20px;
  float:right;
  width: 140px;
}
#outsidebar .gradient-container span {
  font-size: 0.81em;
  font-weight: normal;
  line-height: 2em;
}
#outsidebar .solar-site-address {
  margin-bottom: 0;
}
#outsidebar .solar-site-address a {
  background: url(../images/dark-btn-arrow.png) no-repeat right -78px;
  display: block;
  padding: 11px 16px;
  -webkit-box-shadow: 0px 0px 3px #555;
  -moz-box-shadow: 0px 0px 3px #555;
  box-shadow: 0px 0px 3px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:12px;
  width: auto;
  color: #1b96bb;
  text-decoration: none;
  height: 17px;
}
#outsidebar .solar-site-address a:hover {
  background: url(../images/dark-btn-arrow.png) no-repeat right -39px;
  color: #fff;
}

/* HEADER - SEARCH */
#header-outer {
	background: url(../images/bk.png);
}
#header {
	position: relative;
	padding: 10px 310px 10px 310px;
	height: 59px;
	max-width:998px;
	background: url(../images/shaded-rule.png) repeat-x 0 60px;
	margin: 0;
}
#header a.logo {
  background: transparent;
  width: 267px;
  height: 59px;
  position: absolute;
  top: 10px;
  left: 30px;
}
#header a.logo img {
  width:100%;
  height:auto;
}
#site-search {
	background: none;
	width:100%;
	padding:8px 8px;
	/* CSS3 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#site-search.active,
#site-search.remain-active {
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px #333;
  -moz-box-shadow: 0px 0px 6px #333;
  box-shadow: 0px 0px 6px #333;

}
#site-search-field {
	background: transparent url(../images/bg_search.jpg) 0 -1px no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height:43px;
  text-align: left;
  padding-left:50px;
  -webkit-box-shadow: 0px 1px 2px #606060;
  -moz-box-shadow: 0px 1px 2px #606060;
  box-shadow: 0px 1px 2px #606060;
}
#site-search.active #site-search-field,
#site-search.remain-active #site-search-field {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#site-search-field .site-search-inner {
  background: transparent url(../images/search-icon.png) no-repeat right center;
  padding-right:60px;
}
#site-search-field input {
  border:none;
  color:#d0d4d4;
  padding:12px 0 12px 0;
  font-size:0.81em;
  width: 100%;
  background: transparent;
}
#site-search.active #site-search-field input,
#site-search.remain-active #site-search-field input {
  background: none;
}
#site-search-field input:focus {
	outline:none;
}
#site-search.active #site-search-field,
#site-search.remain-active #site-search-field {
	background: transparent url(../images/bg_search.jpg) 0 -45px no-repeat;
}
#site-search-results {
	display:none;
	text-align: left;
	margin-top:8px;
	color: #393e3e;
	font-size: 0.88em;
	line-height: 1.2em;
	padding: 14px 0px 6px 16px;
	background: url(../images/location-shaded-rule.png) no-repeat center 0;
}
.active #site-search-results,
.remain-active #site-search-results {
	display:block;
}
#site-search-results .result {
	position:relative;
	padding-right:140px;
}
#site-search-results a.result-btn {
  background: #e4e4e4;
  border: 1px solid #b8b8b8;
  display: block;
  font-size: 0.93em;
  color: #393e3e;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top:-4px;
  position: absolute;
  top: 0;
  right: 0;
  width:110px;
} 
#user-block {
  background: url(../images/left-header-shadow.png) no-repeat 0 0;
  width: 120px;
  padding: 17px 20px;
  text-align: left;
  float: left;
  position: absolute;
  top:0;
  right:80px;
  padding-left:76px;
  color: #cbcbcb;
  height: 45px;
}
#header .user-session {
  text-align: left;
  padding: 6px 0px 0px;
}
#header .user-session li a {
  padding: 0;
  text-transform: none;
  font-weight: normal;
  color: #cbcbcb;
  font-size: 0.75em;
  display:block;
  padding:6px 10px;
  background: url(../images/trans-gray.png);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#header .user-session li a:hover {
  background: #1ea8c8;
  color: #fff;
}
#user-block img {
  position:absolute;
  top:18px;
  left:20px;
}
#header #navigation-menu {
  float: left;
  top: 0px;
  display: block;
  background: url(../images/left-header-shadow.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
#header #navigation-menu a.dropdown-toggle {
  width: 40px;
  padding: 17px 20px;
  height:45px;
  display: block;
  background: url(../images/menu-icon.png) no-repeat 2px center;
}
#header #navigation-menu a.dropdown-toggle i {
  display:none;
}
#header #navigation-menu.active a.dropdown-toggle {
  background: url(../images/menu-icon.png) no-repeat -140px center;
}
#header #navigation-menu.active .dropdown-menu {
  display:block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width:0px;
  width:243px;
  padding:10px 20px;
  background: #fff url(../images/menu-tick.png) 236px 0 no-repeat;
  margin-top:0px;
  z-index:100;
}
#header #navigation-menu ul.dropdown-menu li a {
  text-align: left;
  display:block;
  background: url(../images/nav-menu-link.png) center 10px no-repeat;
  color: #14a9c5;
  font-size: 1.25em;
  height: 42px;
  padding-right:40px;
}
#header #navigation-menu ul.dropdown-menu li a:hover {
  background: #2eb2cb url(../images/nav-menu-link.png) center 10px no-repeat;
  color: #fff;
  padding-left: 16px;
}
#header #navigation-menu ul.dropdown-menu li:last-child a {
  height:39px;
}


/* MODAL FORMS */
.for-forms {
  padding:30px;
  padding-right:30px !important;
}
.modal-box,
.form-box {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: #494848;
  margin-bottom:20px;
  max-width:940px;
  margin: 0 auto;
}
.form-box {
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-bottom:40px;
}
.modal-box a.close,
.form-box a.close {
  background:#fff;
  color:#14a9c5;
  width:20px;
  height:20px;
  padding:7px 8px 7px 6px;
  position:absolute;
  top:12px;
  right:10px;
  z-index:90;
  font-size: 38px;
  line-height: 20px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.modal-box .content,
.form-box .content {
  padding:20px 40px;
}
.modal-box h2,
.form-box h2 {
  background: #14a9c5;
  color: #fff;
  font-size: 1.31em;
  line-height: 1.2em;
  font-weight: normal;
  letter-spacing: 3px;
  padding:18px 40px;
  margin: 0;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
.modal-box .content p,
.form-box .content p {
  font-size: 1.19em;
  line-height: 1.2em;
  margin-bottom:10px;
}
.modal-box .content p.desc,
.form-box .content p.desc {
  font-size: 0.81em;
  line-height: 1.4em;
}
.modal-box form,
.form-box form {
  background: transparent;
  margin: 0;
  padding: 0;
}
.modal-box .content .columns .col1,
.form-box .content .columns .col1{
  float:left;
  width: 48%;
}
.modal-box .content .columns .col2,
.form-box .content .columns .col2 {
  float:right;
  width: 48%;
}
.modal-box form label,
.form-box form label,
.modal-box form .label,
.form-box form .label {
  color: #484848;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top:10px;
}
.modal-box form label span,
.form-box form label span {
  font-size: 0.81em;
}
.modal-box form input[type="radio"],
.form-box form input[type="radio"],
.modal-box form input[type="checkbox"],
.form-box form input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 6px;
}
.modal-box form input[type="text"],
.form-box form input[type="text"],
.modal-box form input[type="password"],
.form-box form input[type="password"],
.modal-box form textarea,
.form-box form textarea {
  background: #eeeeee;
  border:1px solid #cecece;
  width: 96%;
  margin-bottom: 10px;
  padding-left:1%;
  padding-right:1%;
}
.modal-box form textarea,
.form-box form textarea {
  width: 93%;
}
.modal-box button,
.form-box button {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.06em;
  line-height: 1em;
  height: auto;
  width: auto;
  padding: 8px 22px;
  letter-spacing: 1px;
  display: block;
  float: right;
  text-align: center;
  margin-right: 16px;
  margin-bottom:10px;
  text-decoration: none;
  background: #1a8fb4 url(../images/grad-btn.png) 0 0 repeat-x;
  /*CSS3*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}
#bids-form {
  max-width:730px;
}
#invite-form {
  max-width:388px;
}
#invite-form .fb_btn {
  overflow: hidden;
  margin-bottom: 0;
}
#invite-form .fb_btn a {
  background: url(../images/fb_invite_btn.png) no-repeat 0 0;
  width: 122px;
  height: 35px;
  display: block;
  float: right;
}
#move-pin p.pinned {
  background: url(../images/pin.png) no-repeat 0 0;
  padding: 0px 100px 25px 60px;
  font-size: 1em;
}
#move-pin .map {
  margin-bottom:10px;
}
#move-pin .map img {
  width: 100%;
  height: auto;
}
#move-pin .raster-buttons {
  float:left;
  background: transparent url(../images/dark-btn-arrow.png) 0 -78px;
  padding:6px 10px 6px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#move-pin .raster-buttons button {
  background-color:transparent;
  font-size: 0.88em;
  text-align: right;
  width: 56px;
  text-decoration: none;
  text-transform: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  letter-spacing: 0px;
}
#move-pin button {
  clear:none;
}
#move-pin button.cancel_btn {
  background: #9c9b9b url(../images/grad-btn.png) repeat-x 0 -200px;
  color: #504e4e;
}
#account-settings .account-email {
  background: url(../images/account-fade.png) repeat-x 0 0;
  padding: 40px 40px 30px;
  height:15px;
}
#account-settings .content {
  background: url(../images/account-fade.png) repeat-x 0 -85px;
  padding-top:0px;
}
#account-settings .columns {
  background: url(../images/account-separator-rule.png) no-repeat 42% 0;
  padding:20px 0px;
}
#account-settings .columns .col1 {
  width:40%;
}
#account-settings .columns .col2 {
  width:55%;
}
#account-settings .checkbox-twitter,
#account-settings .checkbox-facebook {
  background: #0f9edd url(../images/social-checkbox-sprite.png) no-repeat 0 0;
  height: 28px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom:20px;
  padding-left: 13px;
  padding-top:7px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
}
#account-settings .checkbox-facebook {
  background: #263d6e url(../images/social-checkbox-sprite.png) no-repeat 0 -54px;
}
#account-settings .checkbox-twitter label,
#account-settings .checkbox-facebook label {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}
#account-settings strong {
  font-weight: bold;
}
#account-settings .fieldcolumns .fname input,
#account-settings .fieldcolumns .lname input {
  width: 94%;
}
#account-settings .fieldcolumns .fname {
  width: 48%;
  float: left;
}
#account-settings .fieldcolumns .lname {
  width: 48%;
  float: right;
}
#account-settings .fieldcolumns .city,
#account-settings .fieldcolumns .state,
#account-settings .fieldcolumns .zip {
  float:left;
  margin-right:2%;
}
#account-settings .fieldcolumns .city {
  width: 58%;
}
#account-settings .fieldcolumns .state {
  width: 11%;
}
#account-settings .fieldcolumns .zip {
  width: 27%;
  margin-right: 0;
}
#account-settings button {
  clear:none;
}
#account-settings button.cancel_btn {
  background: #9c9b9b url(../images/grad-btn.png) repeat-x 0 -200px;
  color: #504e4e;
}
#share-thoughts {
  padding-bottom: 0;
}
#share-thoughts .content {
  background: url(../images/thoughts-sidebar-bk.png) repeat-y 169px 0;
}
#share-thoughts .columns {
  padding-left:256px;
  position: relative;
}
#share-thoughts .col1 {
  position:absolute;
  z-index:60;
  top:0;
  left:0;
  width:186px;
  padding-right:40px;
}
#share-thoughts .col1 .slides img {
  background-color: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
  margin-left:10px;
}
#share-thoughts .col1 button {
  background: #9c9b9b url(../images/grad-btn.png) repeat-x 0 -200px;
  color: #504e4e;
  font-size: 0.81em;
  float: none;
  margin: 0 auto;
}
#share-thoughts .colorbtns {
  padding: 10px;
}
#share-thoughts .colorbtns p {
  color: #fff;
  background: #5cb03a;
  font-size: 0.88em;
  text-align: center;
  padding: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
}
#share-thoughts .colorbtns p.item2 {
  background: #fa650c;
}
#share-thoughts .colorbtns p.item3 {
  background: #a62bed;
}
#share-thoughts .colorbtns p.item4 {
  background: #ec1f3b;
}
#share-thoughts .col2 {
  width: 100%;
  padding-bottom: 30px;
}
#share-thoughts .col2 .phase {
  border-bottom:3px solid #ececec;
  margin-bottom: 20px;
}
#share-thoughts .col2 .phase .label {
  border-bottom:3px solid #ececec;
  padding-bottom:10px;
  margin-bottom:0px;
}
#share-thoughts .col2 .phase .radio-option {
  border-bottom:3px solid #ececec;
  padding: 20px 20px 20px 50px;
  position: relative;
}
#share-thoughts .col2 .phase .radio-option:last-child {
  border-bottom-width:0px;
}
#share-thoughts .col2 .phase .radio-option.active {
  background: #484848 url(../images/phase-focus-bk.png) no-repeat 0 50%;
}
#share-thoughts .col2 .phase .radio-option label {
  margin: 0;
  color: #14a9c5;
}
#share-thoughts .col2 .phase .radio-option label span {
  display: block;
  color: #484848;
  padding-top:4px;
}
#share-thoughts .col2 .phase .radio-option.active label,
#share-thoughts .col2 .phase .radio-option.active label span {
 color: #fff;
}
#share-thoughts .col2 .phase .radio-option input {
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-7px;
}
#share-thoughts .col2 #share-feed {
  float: left;
  margin-right: 16px;
  margin-top: -1px;
}
#share-thoughts .col2 label.desc {
  font-size: 0.88em;
}
#share-thoughts .col2 .last {
  border-top:3px solid #ececec;
  margin-top: 20px;
  padding-top:20px;
}
#share-thoughts .checkbox-twitter,
#share-thoughts .checkbox-facebook {
  background: url(../images/social-checkbox-sprite.png) no-repeat -6px -3px;
  height: 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom:20px;
  padding-left: 9px;
  padding-top:4px;
  -webkit-box-shadow: 0px 2px 6px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px #aaaaaa;
  -o-box-shadow: 0px 2px 6px #aaaaaa;
  box-shadow: 0px 2px 6px #aaaaaa;
  width: 48px;
  float: left;
  margin-right: 16px;
}
#share-thoughts .checkbox-facebook {
  background: url(../images/social-checkbox-sprite.png) no-repeat -6px -57px;
}
#share-thoughts .col2 button {
  clear:none;
}
#share-thoughts .col2 button.cancel_btn {
  background: #9c9b9b url(../images/grad-btn.png) repeat-x 0 -200px;
  color: #504e4e;
}

/* MEDIA QUERIES */
@media screen and (max-width: 940px) {
  #footer-main-region,
  #footer-sidebar-region {
    float:none;
    width: auto;
  }
  #footer-sidebar-region {
    border-top:1px solid #d6d6d6;
  }
  #header {
    padding-right:84px;
  }
  #user-block {
    display:none;
  }
}
@media screen and (max-width: 768px) {
  #content-outer,
  #footer-outer {
    padding-right:0px;
  }
  #outsidebar {
    position:static;
    margin: 0px 30px;
    width: auto;
    padding:20px 0px;
  }
  #outsidebar .site-map {
    width: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin:0px 25px;
  }
  #content #left-column,
  #content #right-column {
    float:none;
    width: auto;
    padding-left: 0;
    padding-bottom:30px;
  }
  #header {
    padding-left:30px;
    height:127px;
    padding-right:12px;
  }
  #header a.logo {
    display:block;
    float: none;
    position:relative;
    top:0;
    left:0;
  }
  #site-search {
    position: static;
    display:block;
    left:0px;
    margin: 16px -8px 10px;
  }
  #footer-primary-menu ul li {
    margin-bottom:20px;
    width:50%;
  }
  #footer-primary-menu ul ul li {
    margin-bottom: 0;
  }
  .ratings-container {
    padding:0px 10%;
    width:80%;
  }
  /* MODALS/FORMS */
  #bids-form .col1,
  #bids-form .col2 {
    width: 100%;
    float: none;
  }
  #bids-form .col2 {
    padding-top:10px;
  }
  #move-pin p.pinned {
    padding-right:0px;
  }
  #move-pin .raster-buttons {
    margin-bottom:10px;
  }
  #account-settings .columns {
    background: transparent;
  }
  #account-settings .columns .col1,
  #account-settings .columns .col2 {
    float:none;
    width: 100%;
  }
  #share-thoughts .content {
    background: transparent;
  }
  #share-thoughts .col1 {
    text-align: center;
  }
  #share-thoughts .columns {
    padding-left:0px;
  }
  #share-thoughts .col1,
  #share-thoughts .col2 {
    float:none;
    width: 100%;
    position: static;
  }
}
@media screen and (max-width: 520px) {
  .ratings-container .rating-container {
    height: 280px;
  }
  #intro-tabs .tab .tab-image {
    float: none;
    margin-right:0px;
  }
  #intro-tabs .tab .tab-image img {
    width: 100%;
    height: auto;
  }
  ul.details-header li {
    float:none;
    width: auto;
    background: transparent;
    padding: 6px 6px;
    border-top:1px solid #d6d6d6;
  }
  ul.details-header li:first-child {
    border-top-width: 0;
    padding-top: 0;
  }
  ul.details-header li:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  ul.details-header li.current .arrow {
    display: none;
  }
  .ratings-container {
    width: 100%;
    padding: 0;
  }
  #move-pin button {
    float:right;
    clear:both;
  }
  #account-settings .fieldcolumns .fname,
  #account-settings .fieldcolumns .lname,
  #account-settings .fieldcolumns .city,
  #account-settings .fieldcolumns .state,
  #account-settings .fieldcolumns .zip {
    width:100%;
    float:none;
    margin:0;
  }
  #account-settings button {
    float:right;
    clear:both;
  }
  #share-thoughts .col2 button {
    float:right;
    clear:both;
  }
}
@media screen and (max-width: 400px) {
  #header {
    padding-left: 20px;
    padding-right: 2px;
    background: url(../images/shaded-rule.png) repeat-x 0 48px;
    height:117px;
  }
  #header a.logo,
  #header a.logo img {
    width:198px;
    height:44px;
    padding-right:42px;
  }
  #header #navigation-menu a.dropdown-toggle {
    height:32px;
    padding:17px 14px;
    background: url(../images/menu-icon.png) no-repeat -1px center;
  }
  #header #navigation-menu.active a.dropdown-toggle {
    background: url(../images/menu-icon.png) no-repeat -143px center;
  }
  #header #navigation-menu.active .dropdown-menu {
    background: #fff url(../images/menu-tick.png) 240px 0 no-repeat;
  }
  #content-outer {
    padding-top:0px;
  }
  #content, 
  body.search #content {
    padding:28px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0;
  }
  #outsidebar .site-map {
    margin:0px;
  }
  #footer {
    margin: 0; 
  }
  #footer-primary-menu ul li {
    float:none;
    width: auto;
    margin-bottom:20px;
  }
  #footer-secondary-menu {
    display: block;
    margin-top: 6px;
  }
  #right-column #intro-tabs-tabs ul li a {
    padding-left:0px;
    background: transparent;
  }
}