/* Created by Lauren Burton, CHIEF on February 21  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: 1. SHARED STYLES
:: 1. LANDING PAGE
:: 2. SOLAR FLOW ITEMS
:: 3. MEDIA QUERIES
*/


/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */
body
{
	background: url('../img/structural/geo-bg.png') repeat scroll 0 0 #4c4c4d;
}


h1, h2, h3, h4, h5, p 
{
	font-family: "franklin_gothic_fsmedium","Helvetica",sans-serif;
	font-weight: normal;
	color: #565151;
}

h1
{
	font-size: 90px;
}

h4
{
	font-size: 17px;
	line-height: 1.4;
}

p 
{ 
	font-family: "franklin_gothic_fsbook","Helvetica",sans-serif; 
}

/* -----------------------------------------
   LANDING PAGE
----------------------------------------- */

.header-container
{
	position: relative;
}

.top-bar
{
	background: url("../img/structural/geo-bg-dark.png") repeat scroll 0 0 transparent;
} 

.tag-line
{
	font-family: "franklin_gothic_fsmedium","Helvetica",sans-serif;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 10%;
	left: 37%;
	color: #212223;
}

.feature-nav
{
	position: absolute;
	top: 18%;
	left: 25%;
	list-style: none;
}

.feature-nav li
{
	float: left;
}

.feature-nav li a 
{
	 color: transparent;
    display: block;
    height: 100px;
    margin: 0 20px 0 0;
    width: 116px;
}


.feature-nav #nav-love a
{
	background: url(../img/structural/icon_love.png) no-repeat top center;
}

.feature-nav #nav-love a:hover
{
	background: url(../img/structural/icon_love_hover.png) no-repeat top center;
}

.feature-nav #nav-love .active,
.feature-nav #nav-love .active:hover
{
	background: url(../img/structural/icon_love_selected.png) no-repeat top center;
}

.feature-nav #nav-money a
{
	background: url(../img/structural/icon_money.png) no-repeat top center;
}


.feature-nav #nav-money a:hover
{
	background: url(../img/structural/icon_money_hover.png) no-repeat top center;
}

.feature-nav #nav-money .active,
.feature-nav #nav-money .active:hover
{
	background: url(../img/structural/icon_money_selected.png) no-repeat top center;
}

.feature-nav #nav-power a
{
	background: url(../img/structural/icon_power.png) no-repeat top center;
}

.feature-nav #nav-power a:hover
{
	background: url(../img/structural/icon_power_hover.png) no-repeat top center;
}

.feature-nav #nav-power .active,
.feature-nav #nav-power .active:hover
{
	background: url(../img/structural/icon_power_selected.png) no-repeat top center;
}

.feature-nav #nav-glory a
{
	background: url(../img/structural/icon_glory.png) no-repeat top center;
}

.feature-nav #nav-glory a:hover
{
	background: url(../img/structural/icon_glory_hover.png) no-repeat top center;
}

.feature-nav #nav-glory .active,
.feature-nav #nav-glory .active:hover
{
	background: url(../img/structural/icon_glory_selected.png) no-repeat top center;
}


.feature-slide
{
	padding-top: 210px;
}

#feature-money
{
	background: url(../img/structural/baackground_green.png) no-repeat top left;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

#feature-love
{
	background: url(../img/structural/background_red.png) no-repeat top left;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

#feature-power
{
	background: url(../img/structural/background_orange.png) no-repeat top left;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

#feature-glory
{
	background: url(../img/structural/background_purple.png) no-repeat top left;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}


.feature-slide h1,
.feature-slide p
{
	text-align: center;
}

.feature-slide h1,
.feature-slide form label
{
	text-transform: uppercase;
	line-height: 1;
}

.feature-slide p
{
	font-size: 25px;
	color: #fff;
	margin-bottom: 25px;
}

#feature-money h1,
#feature-money form label
{
	color: #9bfc83;
}

#feature-love h1,
#feature-love form label
{
	color: #fdcfd5;
}

#feature-power h1,
#feature-power form label
{
	color: #ffad99;
}

#feature-glory h1,
#feature-glory form label
{
	color: #e5a9fe;
}

.feature-slide form 
{
	background: url(../img/structural/container_search.png) no-repeat top left;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	margin: 0 auto 35px;
}

.feature-slide form label
{
	font-family: "franklin_gothic_fsmedium","Helvetica",sans-serif;
    font-size: 24px;
    left: 37%;
    padding: 16px 0 0;
    position: relative;
    margin-bottom: 15px;
}

.feature-slide form #appendedInputButton
{
	 background: url("../img/structural/input_searchbox.png") no-repeat scroll 0 0 transparent;
	 background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
    border: medium none;
    height: 50px;
    margin: 0 0 15px 15px;
    padding: 10px 10px 10px 58px;
    width: 89%;
}

.feature-slide form .btn-search
{
	 background: url("../img/structural/submit_arrow.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 45px;
    margin: -2px 0 15px -22px;
    width: 56px;
}

/* -----------------------------------------
   SOLAR FLOW 
----------------------------------------- */

.flow-container h3
{
	background: url("../img/structural/background_gradient_sectionbreak.png") no-repeat scroll center bottom transparent;
	background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
    color: #A39F9F;
    font-size: 23px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    
}

.project-teaser
{
	background: #FCFDFD;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    padding: 0px;
}


.project-teaser .row
{
	min-width: 0;
}

.project-teaser p,
.project-teaser h4
{
	padding-right: 18px;
	padding-left: 18px;
}

.project-teaser h4
{
	padding-top: 3px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.project-teaser img
{
	border-radius: 8px 8px 8px 8px;
	float: left;
}

.project-teaser .project-details
{
	background: url('../img/structural/background_grey_itembox.png') no-repeat scroll 0 0 #e6e6e6;
	padding: 10px 10px 0 10px;
	border-radius: 0 0 8px 8px;
}

.project-teaser .project-details p,
.project-teaser .project-details h4
{
	padding-right: 0px;
	padding-left: 10px;
	margin-bottom: 2px;
	float: left;
	line-height: 1.2;
}

.project-teaser .details-container
{
	float: left;
}

.project-teaser .details-container p
{
	clear: both;
}
.project-teaser .phase
{
	background: url('../img/structural/border_gradient.png') no-repeat scroll 0 0;
	background-size: 100% auto;
    -webkit-background-size: 100% auto;
	-moz-background-size: 100% auto
	-o-background-size: 100% auto;
	font-family: "franklin_gothic_fsmedium","Helvetica",sans-serif;
	font-size: 13px;
	color: #a9a6a6;
	text-transform: uppercase;
	margin-top: 5px;
	padding-top: 10px;
	width: 100%
}

.project-teaser .phase .phase-status
{
	color: #3fb52a;
	padding-left: 4px;
}

.project-teaser .flow-rating
{
	clear: both;
	padding-top: 15px;
}

.project-teaser .flow-rating .rating-item
{
	border-radius: 8px 8px 8px 8px;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	width: 48%;
	float: left;
	margin-bottom: 4%;
}

.project-teaser .flow-rating .power,
.project-teaser .flow-rating .glory
{
	margin-right: 3%;
}

.project-teaser .flow-rating .power
{
	background: #fa650c;
}

.project-teaser .flow-rating .money
{
	background: #5cb03a;
}

.project-teaser .flow-rating .glory
{
	background: #a62bed;
	clear: both;
}

.project-teaser .flow-rating .love
{
	background: #ec1f3b;
}


/* -----------------------------------------
   MEDIA QUERIES
----------------------------------------- */
@media (min-width: 490px) and (max-width: 979px) 
{ 
	.span3.project-teaser
	{
		width: 450px;
		margin-bottom: 15px;
	}
	
	.teaser-container,
	.project-details
	{
		width: 45%;
	}
	.teaser-container
	{
		float: left;
	}
	
	.project-teaser .project-details
	{
		float: right;
		border-radius: 0px 8px 8px 0px;
		background: url('../img/structural/background_grey_itembox_vert.png') no-repeat scroll center left  #e6e6e6;
		background-size: auto 100%;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		padding-left:15px; 
	}
	
	.project-teaser .project-details .row-fluid img
	{
		max-width:61px;
		float: left;
	}

	.project-teaser .project-details .row-fluid .details-container
	{
		max-width: 125px;
		float: left;
	}
}	

@media (min-width: 600px) and (max-width: 1200px) 
{ 

	.feature-container .feature-slide .span8
	{
		width: 90%;
	}
	
	.feature-container .feature-slide .offset2
	{
		margin-left: 5%
	}

	.tag-line
	{
		left: 28%;
	}
	
	.feature-nav
	{
		left: 20%;
	}
}


@media (min-width: 600px) and (max-width: 1000px) 
{ 
	.tag-line
	{
		left: 20%;
	}
	
	.feature-nav
	{
		left: 8%;
	}
	
	.feature-slide form #appendedInputButton
	{
		margin-left: 9px;
	}

}

@media (min-width: 600px) and (max-width: 700px) 
{ 
	.tag-line
	{
		left: 20%;
	}
	
	.feature-nav
	{
		left: 0;
	}
	
	.feature-slide form #appendedInputButton
	{
		margin-left: 9px;
	}

}

@media (min-width: 400px) and (max-width: 599px) 
{ 
	.tag-line
	{
		left: 5%;
	}
	
	.feature-nav
	{
		left: 14%;
	}
	.feature-slide 
	{
		padding-top: 310px;
	}
	.feature-slide form label
	{
		left: 31%;
	}
	
	.feature-slide form #appendedInputButton
	{
		width: 85%;
	}
	
}

@media (max-width: 399px) 
{ 
	.tag-line
	{
		left: 2%;
	}
	
	.feature-nav
	{
		left: 6%;
	}
	.feature-slide 
	{
		padding-top: 315px;
	}
	.feature-slide form label
	{
		left: 23%;
	}
	
	.feature-slide form #appendedInputButton
	{
		width: 82%;
		padding-left: 30px;
	}
	
}

@media (max-width: 489px) 
{ 
	.span3.project-teaser
	{
		width: 100%;
		margin-bottom: 15px;
	}
	
	.teaser-container,
	.project-details
	{
		width: 45%;
	}
	.teaser-container
	{
		float: left;
	}
	
	.project-teaser .project-details
	{
		float: right;
		border-radius: 0px 8px 8px 0px;
		background: url('../img/structural/background_grey_itembox_vert.png') no-repeat scroll center left  #e6e6e6;
		background-size: auto 100%;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		padding-left:15px; 
	}
	
	.project-teaser .project-details .row-fluid img
	{
		max-width:61px;
		float: left;
	}

	.project-teaser .project-details .row-fluid .details-container
	{
		max-width: 90px;
		float: left;
	}

}
